@media screen and (max-width: 720px) {
    .navbar ul {
        flex-direction: column;
        font-size: 25px;
        /* margin-left: 60px; */
        text-align: center;
    }
    .header{
        
    }
    /* .inner_body{
        width: 720px;
    } */
  }
  @media screen and (max-width: 355px) {
    .inner_body {
        margin-left: 25px;
    }
    .container {
       max-width: 350px;
        margin:0 auto;
    }

  }