.container {
    display: flex;
    justify-content: center;
    margin:0 auto;
}

.bg {
    background-image: url(../images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 1025px; */
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: center;
}

.wrapper {
    font-family: "Verdana";
}

.inner_body {
    max-width: 900px;
    /* margin-top: 25px; */
}

.header {
    background-color: white;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: #0068ac;
    padding: 5px 0px;
    /* display: flex;
    justify-content: center; */
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    padding:0;
}

.navbar li {
    list-style: none;
    padding: 0px;
}

.navbar li a {
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    color: white;
}

.navbar li :hover {
    background-color: #088bdf;
    padding: 10px;
    border-radius: 10px;
}

.body {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
}

.article {
    max-width: 403px;
}

.article h4 a {
    text-decoration: none;
    font-size: 14px;
    
    color: #0070b8;
}

.article h4 a:hover {
    color: black;
    font-size: 14px;
}

.article p a {
    color: #0070b8;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
}
.left_section{
    margin-left: 15px;
}

.right_section {
    background-color: #d9eaf4;
    padding: 15px 30px 30px 30px;
}

.footer {
    background-color: #036db1;
    height: 42px;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


.img img{
    width: 100%;
    height: auto;
}